# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Entornos
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# Django
*.log
media/
staticfiles/
db.sqlite3

# IDE
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*