name: Deploy Frontend to Cloud Run

on:
  push:
    branches:
      - main
    paths:
      - 'web_Frontend/**'

env:
  SERVICE_NAME: condominio-frontend
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker

      - name: Build and Push Docker image
        run: |
          cd web_Frontend
          docker build --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} -t gcr.io/${{ steps.auth.outputs.project_id }}/${{ env.SERVICE_NAME }}:${{ github.sha }} .
          docker push gcr.io/${{ steps.auth.outputs.project_id }}/${{ env.SERVICE_NAME }}:${{ github.sha }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          image: gcr.io/${{ steps.auth.outputs.project_id }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          region: ${{ env.REGION }}
